---
import BaseLayout from "../layouts/BaseL.astro";
---
<BaseLayout>
	<main class="flex flex-col items-center p-8">
	  <h1 class="text-5xl font-bold mb-6">Conócenos</h1>
  
	  <section class="flex items-center justify-center border border-black rounded-xl mb-4 w-full max-w-5xl h-44">
		  <h2 class="text-6xl font-semibold">
			AGRICULTURA ASLFELH
		  </h2>
		</section>
		
	  <section class="w-full max-w-3xl space-y-4 text-2xl text-justify mt-16">
		<p class="text-justify"><strong>Misión:</strong> Ofrecer semillas de calidad para un cultivo sostenible.</p>
	  </section>
  
	  <section class="w-full max-w-3xl space-y-4 text-2xl text-justify mt-8">
		<p class="text-justify"><strong>Visión:</strong> Liderar la innovación agrícola global.</p>
	  </section>
  
	  <section class="w-full max-w-3xl space-y-4 text-justify mt-20">
		<h3 class="text-2xl font-bold mb-2 text-center">Información General</h3>
		<p class="text-justify text-xl"><strong>Nombre:</strong> ASLFELH de S.A.</p>
		<p class="text-justify text-xl"><strong>Sector:</strong> Agricultura y suministro de insumos agrícolas.</p>
		<p class="text-justify text-xl"><strong>Mercado:</strong> Nacional e internacional, con énfasis en comunidades agrícolas y empresas agroindustriales.</p>
		<p class="text-justify text-xl"><strong>Valores:</strong> Calidad, sostenibilidad, innovación y compromiso con la seguridad alimentaria.</p>
	  </section>
	</main>
</BaseLayout>