---
import BaseLayout from "../layouts/BaseL.astro";
import { Image } from "astro:assets"; /* Esto es necesario para las imagenes */
/* import ImageFondo from "@assets/logo2.png"; */ /* Aqui las imagenes */
---
<BaseLayout>
	<main class="flex">
	</main>
</BaseLayout>