<header class="flex justify-center p-4 border-b border-black bg-purple-500 shadow-md">
    <nav class="flex gap-8 font-bold ">
      <a href="/" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">Inicio</a>
      <a href="/productos" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">Productos</a>
      <a href="/contacto" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">Contacto</a>
      <a href="/about" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">Conócenos</a>
      <a href="/about" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">Carrito(Prueba)</a>
    </nav>
</header>
